html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  line-height: 38px;
  white-space: nowrap;
  font-weight: 500;
  min-width: 200px;
  height: 50px;
  padding: 0 25px 0 25px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.btn-primary {
  color: #fff;
  background-color: #000;;
  border: 1px solid #000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:focus-within {
  color: #000;
  border-color: #000;
  background-color: transparent;
  text-decoration: none;
}

.hero {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
}